{% extends 'base.html.twig' %}

{% block title %}
    Musiciens |
    {{ parent() }} 
{% endblock %}

{% block body %}
<section class="text-center container">
		<div class="row">
			<div class="col-lg-6 col-md-8 mx-auto mb-4">
				<h1 class="fw-light">
					Musiciens enregistrés
				</h1>
			</div>
		</div>
	</section>

<div class="container">
	<div class="row">
		<table class="table table-hover">
			<thead>
				<tr>
					<td class="col-2">#</td>
					<td class="col-5">Nom</td>
					<td>Status</td>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td class="col-2">{{user.id}}</td>
						<td class="col-5">{{user.status}}</td>
                        <td>
							<div class="form-check form-switch">
								<a href="{{ path('admin_user_status_change', {id:user.id}) }}">
									<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
								</a>
								<label class="form-check-label" for="flexSwitchCheckChecked">Status</label>
							</div>
                        </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
