{% extends 'base.html.twig' %}

{% block title %}
    Style de musique |
    {{ parent() }} 
{% endblock %}

{% block body %}
<section class="text-center container">
	<div class="row">
		<div class="col-lg-6 col-md-8 mx-auto mb-4">
			<h1 class="fw-light">
				Nouveau style de musique
				<small class="fs-5">
					<a href="{{ path('admin_genre_add') }}" class="btn btn-success">Ajouter</a>
				</small>
			</h1>
		</div>
	</div>
</section>

    <div class="container">

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
</main>
{% endblock %}